{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "singleAttributePerLine": false,
  "jsxSingleQuote": true,
   "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-solidity"],
  "arrowParens": "avoid"
}

